/osx/
/ios/
/boost_1_53_0.tar.bz2
/boost-serialization/
/boost-main/
/boost
/xcode/Boost.xcodeproj/xcuserdata/bbuck.xcuserdatad/xcschemes/xcschememanagement.plist
/xcode/Boost.xcodeproj/xcuserdata/bbuck.xcuserdatad/xcschemes/Using Boost.xcscheme
/xcode/Boost.xcodeproj/xcuserdata/bbuck.xcuserdatad/xcschemes/smart_ptr_tests.xcscheme
/xcode/Boost.xcodeproj/project.xcworkspace/xcuserdata/bbuck.xcuserdatad/UserInterfaceState.xcuserstate